@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
*, ::before, ::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  display: flex;
  box-sizing: border-box;
  place-items: center;
  min-height: 100vh;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8125rem;
  background-color: hsl(210deg, 46%, 95%);
  grid-auto-flow: column;
  grid-template-rows: 1fr;
}

img {
  border-radius: 50%;
  border: 0.125rem solid hsl(0deg, 0%, 100%);
  width: 2.5rem;
}

main {
  display: grid;
  width: 60%;
  grid-template-columns: 75% 1fr;
  column-gap: 2.25rem;
  margin: 5.25rem auto;
}

.first {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1.5rem;
}

.one {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1.5rem;
}

.two {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1.5rem;
}

.second, .third, .first-b {
  padding: 0;
  display: flex;
  flex: 1;
}

blockquote {
  opacity: 0.7;
  font-size: 1.0225rem;
}

blockquote::after {
  content: ' "';
}

blockquote::before {
  content: '" ';
}

@media only screen and (max-width: 992px) {
  main {
    grid-template-columns: 1fr;
    margin-top: 5.25rem;
  }
  .first-b {
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 576px) {
  .first {
    gap: 0;
  }
  .one, .two {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .first-b, .second, .third {
    margin-top: 1.5rem;
  }
}
article {
  border-radius: 0.625rem;
  padding: 1.875rem 2.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

header {
  display: flex;
  flex-direction: row;
}
header .data {
  padding-left: 0.5rem;
}
header .data .name {
  margin-bottom: 0;
}
header .data .verified {
  font-size: 1.0625rem;
}

.verified::after {
  content: "Verified Graduate";
  opacity: 0.5;
}

.card-1 {
  background-color: hsl(263deg, 55%, 52%);
}
.card-1 img {
  border-color: hsl(263deg, 55%, 70%);
}

.card-2 {
  background-color: hsl(217deg, 19%, 35%);
}
.card-2 img {
  border-color: hsl(217deg, 19%, 35%);
}

.card-4 {
  background-color: hsl(219deg, 29%, 14%);
}
.card-4 img {
  border-color: hsl(263deg, 55%, 52%);
}

.card-5, .card-3 {
  background-color: hsl(0deg, 0%, 100%);
}

.card-1, .card-2, .card-4 {
  color: hsl(0deg, 0%, 100%);
}

.row .container-btn {
  height: 0% !important;
}

.bubbly-button {
  margin-top: 0.3125rem;
  width: 100px;
  display: flex;
  font-size: 0.65rem;
  padding: 1em 2em;
  -webkit-appearance: none;
  appearance: none;
  background-color: #8BC6EC;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(139, 198, 236, 0.5);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #8BC6EC 20%, transparent 20%), radial-gradient(circle, transparent 20%, #8BC6EC 20%, transparent 30%), radial-gradient(circle, #8BC6EC 20%, transparent 20%), radial-gradient(circle, #8BC6EC 20%, transparent 20%), radial-gradient(circle, transparent 10%, #8BC6EC 15%, transparent 20%), radial-gradient(circle, #8BC6EC 20%, transparent 20%), radial-gradient(circle, #8BC6EC 20%, transparent 20%), radial-gradient(circle, #8BC6EC 20%, transparent 20%), radial-gradient(circle, #8BC6EC 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #8BC6EC 20%, transparent 20%), radial-gradient(circle, #8BC6EC 20%, transparent 20%), radial-gradient(circle, transparent 10%, #8BC6EC 15%, transparent 20%), radial-gradient(circle, #8BC6EC 20%, transparent 20%), radial-gradient(circle, #8BC6EC 20%, transparent 20%), radial-gradient(circle, #8BC6EC 20%, transparent 20%), radial-gradient(circle, #8BC6EC 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #75bbe8;
  box-shadow: 0 2px 25px rgba(139, 198, 236, 0.5);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/*# sourceMappingURL=style.css.map */
