@use "globals";
$Moderateviolet: hsl(263, 55%, 52%);
$Verydarkgrayishblue: hsl(217, 19%, 35%);
$Verydarkblackishblue: hsl(219, 29%, 14%);
$Lightgray: hsl(0, 0%, 81%);

article{
    border-radius: .625rem;
    padding: 1.875rem 2.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
header{
    display: flex;
    flex-direction: row;
    .data{
        padding-left: 0.5rem;
        .name{
            margin-bottom: 0;
        }
        .verified{
            font-size: calc(globals.$main-font-size + 0.25rem);
        }
    }
}
.verified::after{
    content: 'Verified Graduate';
    opacity: .5;
}
.card-1{
    background-color: $Moderateviolet;
    img{
        border-color:hsl(263, 55%, 70%);
    }
}
.card-2{
    background-color:$Verydarkgrayishblue;
    img{
        border-color:$Verydarkgrayishblue ;
    }
}
.card-4{
    background-color:$Verydarkblackishblue;
    img{
        border-color:$Moderateviolet;
    }
}
.card-5, .card-3{
    background-color:globals.$White;
}
.card-1, .card-2, .card-4{
    color: globals.$White;
}